<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.freak.bezierview">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SinWaveViewAct" />
        <activity android:name=".activity.HeartViewAct" />
        <activity android:name=".activity.BezierViewAct" />
        <activity android:name=".activity.MagicCircleAct" />
        <activity android:name=".activity.CosWaveViewAct" />
        <activity android:name=".activity.TestViewAct" />
        <activity android:name=".activity.BitmapViewAct" />
        <activity android:name=".activity.PathOperationAct" />
        <activity android:name=".activity.PathMeasureViewAct" />
        <activity android:name=".activity.SvgAct" />
        <activity android:name=".activity.FlowRadioGroupAct" />
        <activity android:name=".drawable.NinePatchDrawableAct" />
        <activity android:name=".drawable.BaseDrawableAct" />
        <activity android:name=".drawable.ShapeDrawableAct" />
        <activity android:name=".drawable.GradientDrawableAct" />
        <activity android:name=".drawable.InsetDrawableAct" />
        <activity android:name=".drawable.ClipDrawableAct" />
        <activity android:name=".drawable.AnimationDrawableAct" />
        <activity android:name=".drawable.LayerDrawableAct" />
        <activity android:name=".drawable.TransitionDrawableAct" />
        <activity android:name=".animation.BaseAnimationAct" />
        <activity android:name=".animation.BJAnimationAct" />
        <activity android:name=".animation.ObjectAnimatorAct"></activity>
    </application>

</manifest>